body {
    font-family: Arial, sans-serif; /* Define a fonte padrão para o corpo do texto */
    background: radial-gradient(circle, #add8e6, #f2f2f2); /* Gradiente radial indo do azul claro para o cinza */
    margin: 0; /* Remove margens padrão do corpo */
    padding: 0; /* Remove preenchimento padrão do corpo */
}

.cabecalho {
    display: flex; /* Use flexbox para alinhar os itens horizontalmente */
    justify-content: space-between; /* Distribua os itens uniformemente ao longo do cabeçalho */
    align-items: center; /* Centralize verticalmente os itens do cabeçalho */
    padding: 15px; /* Adicione um espaçamento interno ao cabeçalho */
    background-color: #fff; /* Cor de fundo branca para o cabeçalho */
}

.titulo {
    text-align: center; /* Centraliza o texto */
    color: black; /* Cor preta para o título */
    text-decoration: underline; /* Adiciona sublinhado ao título */
}

.texto {
    text-align: justify; /* Justifica o texto */
    line-height: 1.6; /* Define o espaçamento entre linhas do texto */
    color: black; /* Cor preta para o texto */
}

.imagem-telepar, .imagem-seed {
    width: 100px; /* Define a largura da imagem como 150 pixels */
    height: 150px; /* Define a altura da imagem como 200 pixels (proporção de 3x4) */
}
