body {
    font-family: Arial, sans-serif; /* Define a fonte padrão para o corpo do texto */
    background: radial-gradient(circle,#d6cece,#81aff3); /* Gradiente radial indo do azul claro para o cinza */
}

.container {
    max-width: 800px; /* Define a largura máxima do contêiner para centralizar o conteúdo */
    margin: 0 auto; /* Centraliza o contêiner na página */
    padding: 20px; /* Adiciona um espaçamento interno ao redor do contêiner */
}

.titulo {
    text-align: center; /* Centraliza o texto */
    color: #4CAF50; /* Cor verde para o título */
}

.texto {
    text-align: justify; /* Justifica o texto */
    line-height: 1.6; /* Define o espaçamento entre linhas do texto */
    color: #333; /* Cor padrão para o texto */
}
.imagem {
    position: absolute; /* Define a posição absoluta para a imagem */
    top: 20px; /* Define a distância do topo */
    left: 20px; /* Define a distância da esquerda */
    width: 150px; /* Define a largura da imagem como 150 pixels */
    height: 180px; /* Define a altura da imagem como 200 pixels (proporção de 3x4) */
}